* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: #dbeefc;
    background: linear-gradient(211deg, #dbeefc 0%, #5491e1 76%);
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 480px;
    width: 320px;
}

.item {
    background-color: #fff;
    border: 0.5px solid #000;
    cursor: pointer;
    font-size: 1.4em;
    outline: none;
}

.item:hover {
    opacity: .7;
}

.item:active {
    background-color: #fff;
    color: #f00;
    opacity: .5;
}

.display {
    background-color: #4c4e4f;
    border: none;
    border-radius: 6px 6px 0 0;
    color: #fff;
    grid-column: 1 / 5;
    font-size: 3em;
    padding-right: 10px;
    opacity: .7;
    text-align: right;
}

.zero {
    grid-column: 1 / 3;
}

.sum {
    grid-column: 4 / 5;
    grid-row: 4 / 7;
}

.button-number {
    background-color: #8b8e91;
}

.button-operation {
    background-color: #686a6c;
}

.button-operation-right {
    background-color: #f1a23d;
}